/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  /* Header styles */
  .header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  
  /* Logo styles */
  .logo-section img {
    width: 200px; /* Adjust the size of the logo as needed */
    height: auto;
    filter: invert(100%); /* Invert the logo color to make it clear on dark backgrounds */
  }
  
  /* Navigation styles */
  .navigation ul {
    list-style-type: none;
  }
  
  .navigation li {
    display: inline;
    margin-right: 20px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  
  /* Main Content styles */
  .main-content {
    padding: 20px;
  }
  
  /* Section Title styles */
  .section-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  /* Search Bar styles */
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  #searchInput {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
  }
  
  #searchButton {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  #searchButton:hover {
    background-color: #ff4500;
  }
  

